In [2]:
import pandas as pd
import matplotlib.pylot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib.pylot'

In [3]:
df = pd.read_csv('glassdoor_jobs_cleaned.csv')

In [4]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,company_txt,job_city,job_state,same_state,company_age,python_yn,R_yn,spark_yn,aws_yn,excel_yn
0,"Data Scientist - Statistics, Early Career",$68K-$111K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310918\n\n...,3.8,Pacific Northwest National Laboratory\n3.8,"Seattle, WA","Richland, WA",1001 to 5000 employees,1965,Government,...,Pacific Northwest National Laboratory\n,Seattle,WA,0,54,0,0,0,0,1
1,Data Scientist II (Miami),$68K-$111K (Glassdoor est.),OfferUp is dedicated to building the simplest ...,3.4,OfferUp\n3.4,"Miami, FL","Bellevue, WA",201 to 500 employees,2011,Company - Private,...,OfferUp\n,Miami,FL,0,8,1,0,0,1,0
2,Data Scientist,$68K-$111K (Glassdoor est.),About Us\n\n\nInterested in working for a huma...,4.7,1904labs\n4.7,"Saint Louis, MO","Saint Louis, MO",51 to 200 employees,2016,Company - Private,...,1904labs\n,Saint Louis,MO,1,3,1,0,1,0,0
3,Data Scientist (Growth Marketing),$68K-$111K (Glassdoor est.),Auth0 is a pre-IPO unicorn. We are growing rap...,4.8,Auth0\n4.8,"America, AL","Bellevue, WA",501 to 1000 employees,2014,Company - Private,...,Auth0\n,America,AL,0,5,1,0,1,0,0
4,Data Scientist/Machine Learning,$68K-$111K (Glassdoor est.),"PulsePoint™, a global programmatic advertising...",4.4,PulsePoint\n4.4,"New York, NY","New York, NY",51 to 200 employees,2011,Company - Private,...,PulsePoint\n,New York,NY,1,8,1,0,1,0,0

In [5]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'Employer Provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_city', 'job_state', 'same_state', 'company_age',
       'python_yn', 'R_yn', 'spark_yn', 'aws_yn', 'excel_yn'],
      dtype='object')

In [8]:
def title_simplifier(title):
    
    if 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    elif 'data scientist' in title.lower():
        return 'data scientist'
    else:
        return 'na'
    
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'

In [9]:
df['job_simp'] = df['Job Title'].apply(title_simplifier)

In [10]:
df.job_simp.value_counts()

data scientist    500
Name: job_simp, dtype: int64